html, body {
	text-align: left;
	width: 100%;
  padding-left: 54px;
    padding-right: : 54px;
	background-color: ##FAF7ED;

}


@font-face {
    font-family: "Columbia";
    font-weight: light;
    src: url("../fonts/Columbia-Titling-Light.otf.otf") format("opentype");
}

@font-face {
    font-family: "Columbia";
    font-weight: normal;
    src: url("../fonts/Columbia-Titling-Regular.otf.otf") format("opentype");
}


h1 {
font-family: 'Columbia', sans-serif;
font-weight: light;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 0px;
  font-family: 'Columbia', sans-serif;
  font-weight: light
}



