body {
  background-color: #FAF7ED;

 .container {
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px 140px;
    grid-column-gap: 12px
    justify-items: stretch
    align-items: stretch
 }

@font-face{
font-family: "Columbia-Light";
src: url("fonts/Columbia-Titling-Light.otf");format("opentype"),
}

@font-face {
    font-family: "Columbia";
    font-weight: light;
    src: url("../Columbia-Titling-Light.otf.otf") format("opentype");
}

@font-face {
    font-family: "Columbia";
    font-weight: normal;
    src: url("../Columbia-Titling-Regular.otf.otf") format("opentype");
}


h1 {
font-family: 'Columbia', sans-serif;
font-weight: light;
font-style:normal;
}

